<a href="https://colab.research.google.com/github/ysaxena/AI4ICPS/blob/main/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Input from user in Python

name = input("Hi! What is your name: ")

print(f"Hello {name}, how are you?")

Hi! What is your name: IITKGP
Hello IITKGP, how are you?

In [4]:
# Ask the price of two products from the user and tell the user the total price

first_prod_price = float(input("What is the price of the first product? "))
second_prod_price = float(input("What is the price of the second product? "))

total_price = first_prod_price + second_prod_price

print(f"The total is : {total_price}")

type(total_price)

What is the price of the first product? 100
What is the price of the second product? 400
The total is : 500.0

float

In [5]:
# Complex datatypes in python

# List

list_a = ["banana", "apple", "watermelon"]
print(list_a)

['banana', 'apple', 'watermelon']

In [6]:
for i in list_a:
  print (i)

banana
apple
watermelon

In [10]:
#Generate a list

list_of_numbers = list(range(10,20))

len(list_of_numbers)

10

In [11]:
st = "$100"
st.replace()